body{
    font-family: Arial;
    background-color: #ffffff;
}

.grid-container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #581211;
    padding: 20px;
    color: white;
    text-align: center;
}

.header hr{
    background-color: #ec9595;
    height: 2px;
    border: none;
}

/* ✅ GRID APPLIED HERE */
.mainLayout {
    display: grid;
    grid-template-columns: 280px 1fr;  /* fixed left column */
    gap: 20px;
    flex: 1;
}


.leftSide {
    background-color: rgb(244, 167, 167);
    padding: 15px;
}

.rightSide {
    padding: 15px;
}

.sideImg {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
}


.leftSide hr {
    background-color: #5c1313;
    height: 2px;
    border: none;
}

.rightSide hr {
    background-color: #df8787;
    height: 2px;
    border: none;
}

.profile,
.contacts,
.educs,
.skills,
.kskills,
.workEx {
    padding: 15px;
    border-radius: 10px;
}