body{
    font-family: Arial;
    text-align: center;
}


h1{
    margin-bottom: 20px;
    color: blueviolet;
}

table{
    border-collapse: collapse;
    margin: auto;
}

td{
    width: 50px;
    height: 50px;
    border: 5px solid black;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.purple{
    background-color: rgb(80, 15, 123);
    color:white
}

.pink{
    background-color: rgb(189, 29, 207);
    color: rgb(255, 255, 255);
}