body {
    font-family: Arial;
    text-align: center;
    color: #400919;
    background-color: #f8f8f8;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    width: 60%;
    color: #333;
    background-color: white;
}

th, td {
    border: 2px solid #400919;
    padding: 12px;
}

th {
    background-color: #800040;
    color: white;
}

.title {
    background-color: #800040;
    color: white;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
