.container {
   
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-height: 100vh;
    display: flex;     
    flex-direction: column;

}

.header {
    background-color: #581211;
    padding: 20px;
    margin: 0px;
    color: white;
    text-align: center;
    
}
.sideImg {
   
    width: 80%;           
    aspect-ratio: 1 / 1;    
    object-fit: cover;      

    display: block;        
    margin: 20px auto;

}
.mainLayout {
    display: flex;
    align-items: stretch;
    gap: 20px;
    flex: 1; 
   
}


    
.leftSide {
    flex: 1;
    background-color: rgb(244, 167, 167);
    padding: 15px;
}
  

.header hr{
     background-color: #ec9595; 
    height: 2px;
    border: none;
    


}
.leftSide hr {
    background-color: #5c1313; 
      height: 2px;
      border: none;
    

}

.rightSide hr {
    background-color: #df8787; 
    height: 2px;
    border: none;
}
.rightSide {
    flex: 2;
    padding-left: 20px;
     align-self: stretch;
}

.profile,
.contacts,
.educs,
.skills,
.kskills,
.workEx {
    padding: 15px;
    margin: 0;
    border-radius: 10px;
}